@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply font-body;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face{
  font-family: 'Work Sans';
  src: local('Work Sans'), url('./fonts/work-sans-vf.woff2') format('woff2 supports variations'), url('./fonts/work-sans-vf.woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: local('Work Sans'), url('./fonts/work-sans-italic-vf.woff2') format('woff2 supports variations'), url('./fonts/work-sans-italic-vf.woff2') format('woff2-variations');
  font-style: italic;
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

.image-transition {
  transition: transform 0.5s ease-out;
}
